.row{
    padding: 20px; 
    padding-top: 5%;   
}

div{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #CEFFCC;  
}

h1{
    padding-top: 20px;
}

h2{
    display: inline;
    color: #045400;
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    border-width: thick;
    border-color: #045400;
    border-style: solid;
}